<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  # <% end %>
  <br>
  <div class="field">
    <%= form.label :first_name, "First Name", class:"form-label" %>
    <%= form.text_field :first_name, class:"form-control"%>
  </div><br>

  <div class="field">
    <%= form.label :last_name, "Last Name", class:"form-label" %>
    <%= form.text_field :last_name, class:"form-control" %>
  </div><br>

  <div class="field">
    <%= form.label :email, class:"form-label" %>
    <%= form.text_field :email, class:"form-control" %>
  </div><br>

  <div class="field">
    <%= form.label :phone, class:"form-label" %>
    <%= form.text_field :phone, class:"form-control" %>
  </div><br>

  <div class="field">
    <%= form.label :twitter, class:"form-label" %>
    <%= form.text_field :twitter, class:"form-control", 'aria-describedby':"passwordHelpBlock", placeholder:"@yourtwitterhead" %>
    <div id="passwordHelpBlock" class="form-text">
  Your personal channel
  </div>
  </div><br>

    <%= form.number_field :user_id, id: :friend_user_id, class:"form-control", value:current_user.id, type: :hidden %>

    <%= form.submit class:"btn btn-dark"%>
    <br>
    <br>
<% end %>

